@import './globals.css';
@import './CardSection.css';
@import './Cart.css';
@import './NavbarSearch.css';

:root {
    --lightgreen: #7a9d54;
    --darkgreen: #557a46;
    --burgundy: #8c3333;
}

/* Register Page: */
.paper {
    border: 1px solid lightgray;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 14px;
    margin-top: 90px;
    min-width: 450px;
}
.notification {
    color: #ab003c;
}
.header {
    width: 100%;
    height: 120px;
    background: url('/login-background2.webp') no-repeat center center;
    background-size: cover;
    margin-bottom: 30px;
    border-top-left-radius: 6px;
}
.wrapper {
    padding: 10px 30px 20px 30px !important;
}

/* Login page: */
.paper {
    border: 2px solid lightgray;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 14px;
    margin-top: 90px;
    min-width: 450px;
}
.notification {
    color: #ab003c;
}
.header {
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 14px 0px;
    background: url('/login-background2.webp') no-repeat center center;
    background-size: cover;
}
.wrapper {
    padding: 10px 30px 20px 30px !important;
}

/* Home page: */
.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    margin-left: 0.5rem;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
}

.card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
    border-color: #0070f3;
}

.card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 3em;
    margin: 10px;
}
.logo-large {
    height: 20vh;
    margin: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
}

.navbar {
    /* background-color: #7a9d54; */
    /* background: var(--lightgreen); */
    background: linear-gradient(to right, var(--lightgreen), var(--darkgreen));
    border-bottom: 4px solid #8c3333;
    color: black;
    display: flex;
    gap: 2vw;
}

.navbar-brand {
    font-family: 'Work Sans', sans-serif;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

/* Checkout form: */
.paper {
    border: 1px solid lightgray;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    height: 550px;
    padding: 30px;
    background: #fff;
    border-radius: 6px;
    margin-top: 90px;
}
.form-half {
    flex: 0.5;
}
* {
    box-sizing: border-box;
}
body,
html {
    background-color: #f6f9fc;
    font-size: 18px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
h1 {
    color: #32325d;
    font-weight: 400;
    line-height: 50px;
    font-size: 40px;
    margin: 20px 0;
    padding: 0;
}
.Checkout {
    margin: 0 auto;
    max-width: 800px;
    box-sizing: border-box;
    padding: 0 5px;
}
label {
    color: #6b7c93;
    font-weight: 300;
    letter-spacing: 0.025em;
}
button {
    white-space: nowrap;
    border: 0;
    outline: 0;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    background-color: #6772e5;
    text-decoration: none;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    margin-top: 10px;
}
form {
    /* margin-bottom: 40px;
    padding-bottom: 40px; */
    border-bottom: 3px solid #e6ebf1;
}
button:hover {
    color: #fff;
    cursor: pointer;
    background-color: #7795f8;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
input,
.StripeElement {
    display: block;
    background-color: #f8f9fa !important;
    /* margin: 10px 0 20px 0; */
    max-width: 500px;
    padding: 10px 14px;
    font-size: 1em;
    font-family: 'Source Code Pro', monospace;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    background: white;
}
input::placeholder {
    color: #aab7c4;
}
input:focus,
.StripeElement--focus {
    box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}
.StripeElement.IdealBankElement,
.StripeElement.PaymentRequestButton {
    padding: 0;
}

.home-header {
    padding: 40px;
}

/* Layout: */
a {
    color: white;
}
h5 {
    color: white;
    padding-top: 11px;
}
